
html, body {
background-color: #141114;
scroll-behavior: smooth;
}

li, ul, ol, p {
    margin-bottom: 0.25rem;
    line-height: 1.25rem;
    font-size: 16px;
}

ul {
    list-style-type: circle;
}


a {
    color: deeppink !important;
    text-decoration: none;
}

a:hover {
    color: cyan !important;
}

li::marker {
    color: #f7e6c1;
}